app-nav-bar {
	nav {
		.at-brand-logo {
			height: 80%;
			top: 10%;
			position: absolute;

			img {
				height: 100%;
			}
		}

		a.home {
			left: 50%;
			transform: translateX(-50%);

			i {
				float: left;
			}
		}

		ul {
			a {
				padding: 0 10px;

				i.material-icons {
					margin-right: 5px;
				}
			}
		}
	}

	// make collapsible and not collapsible menu items look the same
	md-sidenav {
		.sidenav li.active:not(.menu)>a {
			color: #fff !important;
		}

		ul[md-collapsible]>li>a {
			padding: 0 16px;
			font-weight: normal;
		}

		.collapsible-body li>a {
			font-weight: normal;
		}
	}
}